#jumbo {
    background-color: seashell;
}

#myUL {
    padding: 20px;
}

#delete-id {
    padding-bottom: 20px;
}

#header {
    background-color:rgb(241, 230, 221);
}

#delete-confirm {
    padding: 10px;
}

#update {
    background-color: green;
    border: green;
}